<div class="container mt-4 col-md-5" style="background: azure;">
<span style="border-bottom: 1px solid rgb(199, 186, 186)"><h4>Full Details</h4></span>
<div class="row mt-4" *ngIf="viewList">
        <div class="d-flex flex-column col-md-4 ">
                <div class="p-2">No.</div>
                <div class="p-2">Title</div>
                <div class="p-2">Description</div>
                <div class="p-2">Status</div>
        </div>
        <div class="d-flex flex-column col-md-8">
            <div class="p-2">{{viewList.id}}</div>
            <div class="p-2">{{viewList.title | titlecase}}</div>
            <div class="p-2">{{viewList.description | titlecase}}</div>
            <div class="p-2" >
                <span *ngIf="viewList.done === false">Pending</span>
                <span *ngIf="viewList.done === true">Done</span>
            </div>
        </div>
        <div class="row col-md-8 mt-2 mb-1" style="margin: 0 auto">
                <div class="p-2"><button class="btn btn-primary btn-sm" routerLink="/todo">Back</button></div>
                <div class="p-2"><button class="btn btn-primary btn-sm" (click)="deleteList()">Delete</button></div>
        </div>
</div>
</div>